html {
	margin: 0;
	padding :0;
}

body {
	background: white;
	margin:0;
	padding:0;
	background: white;
	color: white;
	font-family: "Arial";
}

a {
	color: white;
	text-decoration: none;
}

#game {
	margin: 25px auto;
	position: relative;
	height: 600px;
	width: 800px;
	overflow: hidden;
}

h1 {
  text-align: center;
}

#play {
	margin:0;
	padding:0;
	background: white;
	position: relative;
}

#controls {
	position: absolute;
	top: 25px;
	right: 0;
  width: 200px;
}

#restart {
	clear: both;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
}

.control {
  z-index: 2;
  color: navy;
  text-align: right;
}

#menu {
  text-align: center;  
}

.screen {
	width: 800px;
	height: 600px;
	background: black;
	display: none;
	position: absolute;
	z-index: 1;
}

.screen:target {
  display: block;
}

#scoreList {
  text-align: center;
  margin-top: 100px;
}

#gameOver {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  margin-top: -125px;
  top: 50%;
  text-align: center;
  width: 400px;
  background: black;
  height: 225px;
  z-index: 2;
  padding-top: 30px;
	-webkit-transition: all ease-in .5s;
	-moz-transition: all ease-in .5s;
	transition: all ease-in .5s;
}

.isHidden {
	margin-top: -800px !important;
}

#logo {
	margin-top: 10px;
}

#menu nav h1 {
	text-shadow: 1px 1px 10px rgba(255,155,0, .4);
}

#menu nav  {
	margin-top: 25px;
}

li {
  font-size: 24px;
  font-weight: bold;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
}

canvas {
  position: relative;
}

a {
  text-align: center;
	background: rgb(255, 165, 0);
	display: block;
	font-size:  30px;
	width: 200px;

	-webkit-transition: all ease-in-out .25s;
	-moz-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s;

	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	transform: rotate(-8deg);

	color: black;
	margin: 25px auto;
}

a:hover {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}

a:focus,
a:active {
	color: rgb(66,66,66);
	-webkit-box-shadow: 2px 2px 10px rgba(255, 255, 255, .7);
	-moz-box-shadow: 2px 2px 10px rgba(255, 255, 255, .7);
	box-shadow: 2px 2px 10px rgba(255, 255, 255, .7);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#shark {
  z-index: 2;
  pointer-events: none;
}

#thesea {
  z-index: -1;
}

.fish {
  z-index: 1;
  pointer-events: none;
}

.dead {
	display: none;
	/*
  -webkit-transition: all 1.75s ease-in;
  -moz-transition: all 1.75s ease-in;
  transition: all 1.75s ease-in;
  */
}